.logo {
  padding: $p-1 - 0.8 $p-1 - 0.5;
  display: inline-block;
  background: $bg-white;
  border-radius: $rounded;
  transition: background-color $transition-time-sm $transition-fn;
}

.logo-dark {
  background: $bg-dark;
}
