.card-section {
  margin-bottom: $m-2;
}

.remove-modal-icon {
  path {
    color: $text-red;
  }
}

.text-link {
  color: $text-blue;
  cursor: pointer;
  transition: opacity $transition-time-sm $transition-fn;
  &:hover {
    opacity: 0.6;
  }
}
