.auth {
  width: $w-full;
  min-height: $h-screen;
  padding: $p-5 + 5 $p-5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/image/background/food-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  .auth-translate {
    width: $w-8;
    position: absolute;
    top: 5rem;
    right: 5rem;
    z-index: 20;
    @include respond(mdTablet) {
      top: 1rem;
      right: 5rem;
    }
    @include respond(mdPhone) {
      top: 1rem;
      right: 1rem;
    }
  }
  .auth-content {
    width: $w-full;
    .content-logo {
      background: transparent;
    }
    .content-list {
      * {
        color: $text-white;
      }
    }
    .content-form {
      .card-head {
        * {
          margin: 0;
        }
      }
      .form-btn {
        width: $w-full;
      }
    }
  }
  @include respond(mdTablet) {
    padding: $p-5;
  }
  @include respond(mdPhone) {
    padding: $p-5 $p-1;
  }
}
