.setting-mode {
  margin-bottom: $m-2;
  .mode-action {
    width: $w-full;
  }
}

.setting-staff {
  .staff-action {
    width: $w-4;
    height: $h-4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity $transition-time-sm $transition-fn;
    &:hover {
      opacity: 0.6;
    }
  }
}
