.datepicker {
  .datepicker-label {
    display: block;
    margin-bottom: $m-1 - 0.5;
    transition: color $transition-time-xs $transition-fn;
    .label-required {
      margin-right: $m-1 - 0.5;
      color: $text-red;
    }
    .label-optional {
      margin-left: $m-1 - 0.5;
      color: $text-gray;
      font-size: $text-xs;
    }
  }
  .datepicker-wrap {
    position: relative;
    .wrap-group {
      display: flex;
      align-items: center;
      border: 0.5px solid $bg-gray;
      background: $bg-white;
      position: relative;
      transition: border-color $transition-time-sm $transition-fn,
        background-color $transition-time-sm $transition-fn, box-shadow $transition-time-sm $transition-fn;
      .group-addon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .group-addon-before {
        border-right: 0.5px solid $bg-gray;
        padding-right: $p-1;
        margin-right: $m-1;
      }
      .group-addon-after {
        border-left: 0.5px solid $bg-gray;
        padding-left: $p-1;
        margin-left: $m-1;
      }
      .group-control {
        width: $w-full;
        display: flex;
        .control-box {
          width: $w-full;
          border: unset;
          background: transparent;
        }
        .control-action {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: $m-1 - 0.5;
          &:hover path {
            color: $text-black;
          }
          path {
            transition: color $transition-time-md $transition-fn;
            color: $text-gray;
          }
          .action-icon {
            transition: transform $transition-time-md $transition-fn;
          }
          .action-icon-rotate {
            transform: rotate(180deg);
          }
        }
        .control-tags {
          min-width: max-content;
          margin-right: $m-1 - 0.5;
          font-size: $text-xxs;
          border-radius: $rounded;
          color: $text-white;
          * {
            color: $text-white;
          }
        }
      }
      .group-loading {
        width: $w-full;
        height: $h-full;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        .loading-icon {
          animation: spin $transition-time-md $transition-fn infinite;
        }
      }
    }
    .wrap-calendar {
      width: $w-10 * 3.1;
      background: $bg-white;
      box-shadow: 0 0 10px $bg-gray;
      position: absolute;
      transform: scaleY(0);
      transform-origin: top;
      top: 120%;
      left: 0;
      z-index: 10;
      opacity: 0;
      transition: opacity $transition-time-xs $transition-fn, transform $transition-time-xs $transition-fn;
      .calendar-header {
        padding: $p-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-action {
          width: $w-2;
          height: $h-2;
          border: unset;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity $transition-time-sm $transition-fn;
          &:hover {
            opacity: 0.6;
          }
        }
        .header-control {
          display: flex;
          align-items: center;
          .control-select {
            min-width: max-content;
            position: relative;
            margin: 0 $m-1;
            &:hover .select-box .box-icon {
              opacity: 1;
            }
            .select-box {
              display: flex;
              align-items: center;
              cursor: pointer;
              .box-value {
                display: block;
                min-width: max-content;
                margin-right: $m-2;
              }
              .box-icon {
                opacity: 0;
                transition: opacity $transition-time-sm $transition-fn;
              }
            }
            .select-dropdown {
              min-width: max-content;
              width: $w-full;
              height: $h-10 * 2;
              overflow-y: auto;
              box-shadow: 0 0 10px $bg-gray;
              background: $bg-white;
              border-radius: $rounded;
              position: absolute;
              top: 110%;
              left: 0;
              z-index: 10;
              opacity: 0;
              transition: background-color $transition-time-sm $transition-fn;
              &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: $bg-black;
                border-radius: $rounded;
              }
              &::-webkit-scrollbar-track {
                background: $bg-slate;
                border-radius: $rounded;
              }
              .dropdown-item {
                cursor: pointer;
                padding: $p-1 - 0.5;
                font-size: $text-xs + 0.1;
                transition: background-color $transition-time-sm $transition-fn;
                &:hover {
                  background: $bg-slate;
                }
              }
            }
            .select-dropdown-active {
              opacity: 1;
              animation: fade $transition-time-sm $transition-fn;
            }
          }
        }
      }
      .calendar-day {
        display: flex;
        padding: $p-1 - 0.5;
        .day-item {
          width: calc($w-full / 7);
          text-align: center;
          color: $text-gray;
        }
      }
      .calendar-date {
        padding: $p-1 - 0.5;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        .date-item {
          width: calc($w-full / 7);
          display: flex;
          align-items: center;
          justify-content: center;
          .item-btn {
            width: $w-3;
            height: $h-3;
            border: unset;
            border-radius: $rounded;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color $transition-time-sm $transition-fn;
          }
        }
        .date-item-sub {
          .item-btn {
            color: $text-gray;
          }
        }
        .date-item-disabled {
          .item-btn {
            color: $text-slate;
            cursor: not-allowed;
            &:hover {
              background: transparent !important;
            }
          }
        }
      }
    }
    .wrap-calendar-active {
      transform: scaleY(1);
      opacity: 1;
      animation: dropdown $transition-time-xs $transition-fn;
    }
  }
}

// Bottom
.datepicker-bottom {
  .datepicker-wrap {
    .wrap-calendar {
      top: unset !important;
      bottom: 100%;
      transform-origin: bottom;
    }
    .wrap-calendar-active {
      bottom: 120%;
      opacity: 1;
      animation: dropdown $transition-time-xs $transition-fn;
    }
  }
}

// Error
.datepicker-error {
  .datepicker-label {
    color: $text-red;
    * {
      color: $text-red;
    }
  }
  // .wrap-group {
  //   border-color: $bg-red !important;
  // }
}

// Size
.datepicker-sm {
  .datepicker-label {
    font-size: $text-xs;
    * {
      font-size: $text-xs;
    }
  }
  .wrap-group {
    padding: $p-1 - 0.8 $p-1 - 0.4;
    .group-control {
      * {
        font-size: $text-xs;
      }
    }
  }
  .wrap-calendar {
    width: $w-10 * 2.5 !important;
    * {
      font-size: $text-xs;
    }
  }
}

.datepicker-md {
  .wrap-group {
    padding: $p-1 - 0.6 $p-1 - 0.2;
  }
}

.datepicker-lg {
  .datepicker-label {
    font-size: $text-md;
    * {
      font-size: $text-md;
    }
  }
  .wrap-group {
    padding: $p-1 - 0.4 $p-1;
    .group-control {
      * {
        font-size: $text-md;
      }
    }
  }
}

// Shape
.datepicker-square {
  .datepicker-wrap {
    .wrap-group,
    .wrap-calendar {
      border-radius: $rounded;
    }
  }
}

.datepicker-round {
  .datepicker-wrap {
    .wrap-group {
      border-radius: $rounded-xxl;
    }
    .wrap-calendar {
      border-radius: $rounded-lg;
    }
  }
}


// Theme
.datepicker-light {
  .wrap-group {
    background: $bg-white;
  }
  .wrap-calendar {
    background: $bg-white;
  }
}

.datepicker-dark {
  .datepicker-label {
    span {
      color: $text-white;
    }
  }
  .wrap-group {
    background: $bg-dark !important;
    .control-box {
      color: $text-white;
    }
    .control-action {
      &:hover path {
        color: $text-white !important;
      }
    }
  }
  .wrap-calendar {
    background: $bg-dark !important;
    box-shadow: 0 0 10px $bg-black !important;
    & * {
      color: $text-white;
    }
    .select-dropdown {
      background: $bg-dark !important;
      box-shadow: 0 0 10px $bg-black !important;
      .dropdown-item {
        &:hover {
          background: $bg-black !important;
        }
      }
    }
  }
}

// Color
.datepicker-blue {
  .wrap-group {
    &:hover {
      border-color: $bg-blue;
    }
    .control-tags {
      background: $bg-blue;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-blue-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-blue-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-blue !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-red {
  .wrap-group {
    &:hover {
      border-color: $bg-red;
    }
    .control-tags {
      background: $bg-red;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-red-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-red-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-red !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-green {
  .wrap-group {
    &:hover {
      border-color: $bg-green;
    }
    .control-tags {
      background: $bg-green;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-green-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-green-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-green !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-orange {
  .wrap-group {
    &:hover {
      border-color: $bg-orange;
    }
    .control-tags {
      background: $bg-orange;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-orange-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-orange-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-orange !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-yellow {
  .wrap-group {
    &:hover {
      border-color: $bg-yellow;
    }
    .control-tags {
      background: $bg-yellow;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-yellow-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-yellow-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-yellow !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-purple {
  .wrap-group {
    &:hover {
      border-color: $bg-purple;
    }
    .control-tags {
      background: $bg-purple;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-purple-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-purple-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-purple !important;
        color: $text-white;
      }
    }
  }
}

.datepicker-pink {
  .wrap-group {
    &:hover {
      border-color: $bg-pink;
    }
    .control-tags {
      background: $bg-pink;
    }
  }
  .wrap-group-dropdown {
    box-shadow: 0 0 0 3px $bg-pink-rgba-sm !important;
  }
  .wrap-calendar {
    .date-item {
      &:hover .item-btn {
        background: $bg-pink-rgba-sm !important;
      }
    }
    .date-item-selected {
      .item-btn {
        background: $bg-pink !important;
        color: $text-white;
      }
    }
  }
}

// Disabled
.datepicker-disabled {
  .datepicker-label {
    color: $text-gray;
    * {
      color: $text-gray;
    }
  }
  .wrap-group {
    background: $bg-slate !important;
    cursor: not-allowed;
    &:hover {
      border-color: $bg-gray !important;
    }
    .control-box {
      color: $text-gray;
      cursor: not-allowed;
    }
    .control-action {
      pointer-events: none;
      user-select: none;
    }
  }
}
